
# Игнорируем виртуальное окружение
.venv/

# Игнорируем локальные базы данных SQLite
db.sqlite3


# Игнорируем временные файлы редакторов
.vscode/
.idea/

# Игнорируем кэшированные Python файлы
*.pyc
__pycache__/
